/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

.footer {
	//background: #f8f8f8  ;
        color: #909090      ;
	padding: 20px 0 5px;
}
.col-sm-2
{
    width: 12.5%;
}


.container{
    
    min-height: 650px;
   
}


body{
   background: #F0F0F0     ;
    margin-top: 70px;
    //background-image:  url('/assets/img/ahjaa.jpeg');
    //width: 100%;

    //background-repeat: no-repeat;
     //background-size: 100%; //propotional resize
}

.pepito{
    margin-top: -5px;
}

.pepe2{
    margin-top: 40px;
}

.nueva{
  max-height: 250px;
    
}

.ad_Brief
{
    margin-left: 25px;
}

#fade { height: 252px; /* width: 232px; */ padding:0; margin:0; overflow: hidden }
#fade img { height: auto; width: 100%; top:0; left:0 ; padding: 10px;}

